body,
html {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 1440px;
    font-family: 'Inter';


}

li {
    list-style-type: none;
}

.content {
    max-width: 1440px;

}

.header {
    height: 101px;
    width: 1440px;
    background: #D9D9D9;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 1440px;

}

.sidebar {
    width: 203px;
    height: 1302px;
    margin-top: 40px;
    background: #D9D9D9;
    margin-right: 86px;
}

.grid-wrapper {
    width: 1022px;
    height: 334px;
    margin-top: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    grid-auto-rows: 61px;
}

.grid-wrapper>div {
    background: #D9D9D9;
}

.rectangle {
    width: 1022px;
    height: 168px;
    margin-top: 40px;
    background: #D9D9D9;
    margin-bottom: 40px;
}

.rect-thin {
    height: 3px;
    background: #D9D9D9;
}

.menu {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 40px;
}

.comment-page {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-item-align: center;
    align-self: center;
    gap: 10px;
    margin-right: 55px;

}

.favorite-list {
    -ms-flex-item-align: end;
    align-self: flex-end;

}

.comment-page a {
    color: #000000;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-right: 55px;


}

#comment-number {
    -ms-flex-item-align: center;
    align-self: center;
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border-style: none;
    color: #aba8a8;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

.arrow {
    -ms-flex-item-align: center;
    align-self: center;
    margin-right: 50px;
}

.favorite {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #000000;
    opacity: 0.4;
    margin-right: 10px;
    cursor: pointer;
    -ms-flex-item-align: center;
    align-self: center;
}

.like {
    -ms-flex-item-align: center;
    align-self: center;
}

#error-msg__mobile {
    display: none;
    width: 110px;
}

#error-msg {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FF0000;
    margin-bottom: 20px;
    width: 110px;

}

fieldset {
    border: 0 none;
}


.comment-output {
    width: 916px;
}


#avatar {
    width: 61px;
    height: 61px;
    border-radius: 50%;
    background-attachment: local;
    margin-right: 30px;

}

#avatar-img {
    border-radius: 50%;
    width: 61px;
    height: 61px;

}

#name,
#nameRep {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    border-style: none;
    color: #122AC0;
    width: 280px;
}

#name-prev__mobile {
    display: none;
    color: #000000;
    opacity: 0.4;
    font-size: 18px;
    margin: 0px;
}

#reply-icon__mobile {
    display: none;
}

#name-now {
    color: #122AC0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-right: 15px;

}

#count {

    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    opacity: 0.4;

}

#text {
    width: 688px;
}

.comment-header {
    width: 688px;
    height: 100px;
    margin-right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}

.reply-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
}

.replyTo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 13px;
}

.text-submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 20px;

}

.wrapper {
    margin-top: 30px;
}

.mobile-wrapper {
    display: none;
}

.option-reply,
.option-favorite,
.option-likeNumber {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    opacity: 0.5;
    background-color: transparent;
    border: none;
}

.reply-footer {
    padding-left: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.option-reply {
    margin-right: 30px;
}

.option-favorite {

    margin-right: 30px;
}

.input-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 16px;
    width: 688px;
}

.comment-input {
    width: 688px;
    height: 61px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: none;


}

#result {
    margin-top: 30px;
}

#text-now {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-left: 80px;
    width: 916px;
    margin-top: -10px;
    margin-bottom: 30px;

}

#time-now {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    opacity: 0.4;
    -ms-flex-item-align: center;
    align-self: center;
}


.name-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 80px;
    margin-top: -75px;


}

.replyHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 15px;

}

.formwarpper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

#nameRep-now {
    font-size: 18px;
    color: #122AC0;
    padding: 0;
}

#name-prev__li {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    opacity: 0.4;
    -ms-flex-item-align: center;

    align-self: center;
}

#reply-icon {
    -ms-flex-item-align: center;
    align-self: center;
}

.heart-icon {
    margin-right: 15px;
}

.send-form {
    /* height: 98px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.second-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.send-btn,
.repTxt {
    width: 213px;
    height: 61px;
    background: #A2A2A2;
    border-radius: 5px;
    border: none;
    justify-self: flex-end;
}


#rating {
    text-align: center;
    line-height: 22px;
    font-size: 18px;
    width: 40px;
    border: none;
    padding: 0px;
    margin-left: 10px;
}

ul {
    margin-left: 50px;
}